<div class="header-top">
    <ul>
        <li> <a href=""><span class="glyphicon glyphicon-envelope"></span> qtnhan1999@gmail.com |</a> </li>
        <li> <a href=""><span class="glyphicon glyphicon-time"></span> 24/7 |</a> </li>
        <li> <a href=""><span class="glyphicon glyphicon-phone"></span> 0703108790 |</a> </li>
    </ul>
</div>
<div class="header-menu">
    <ul>
        <li>
            <a href="">
                <p>TRANG CHỦ</p>
            </a>
        </li>
        <li>
            <a href="#">
                <p>GIỚI THIỆU</p>
            </a>
        </li>
        <li>
            <a href="#">
                <p>CỬA HÀNG</p>
            </a>
        </li>
        <li>
            <a href="#">
                <p>HỖ TRỢ TRẢ GÓP</p>
            </a>
        </li>
        <li>
            <a href="#">
                <p>TIN TỨC</p>
            </a>
        </li>
        <li>
            <a href="#">
                <p>KHUYẾN MÃI</p>
            </a>
        </li>
        <li>
            <a href="#">
                <p>LIÊN HỆ</p>
            </a>
        </li>
    </ul>
</div>
<div class="header-banner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="assets/img/banner1.jpg" alt="" style="width:100%; height: 400px;">
          </div>
    
          <div class="item">
            <img src="assets/img/banner2.png" alt="" style="width:100%;height: 400px">
          </div>
        
          <div class="item">
            <img src="assets/img/banner3.jpg" alt="" style="width:100%;height: 400px">
          </div>
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>

