<div class="footer">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <p>THÔNG TIN LIÊN HỆ</p>
                <li>
                    Địa chỉ: 44/29 Khu phố 3, Phường Tân Chánh Hiệp, Q12, TP. Hồ Chí Minh
                </li>
                <li>
                    Email: qtnhan1999@gmail.com
                </li>
                <li>
                    Zalo: 0703108790
                </li>
                <li>
                    Facbook: <a href="https://www.facebook.com/profile.php?id=100022599798716" style="color: #a1f08e;">Thanh Nhàn</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <p>TRUY CẬP NHANH</p>
                <li>
                   <a href="">TRANG CHỦ</a> 
                </li>
                <li>
                    <a href="">GIỚI THIỆU</a> 
                </li>
                <li>
                    <a href="">LĨNH VỰC HOẠT ĐỘNG</a> 
                </li>
                <li>
                    <a href="">LIÊN HỆ</a> 
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <p>CHÍNH SÁCH</p>
                <li>
                    <a href="">CHÍNH SÁCH THANH TOÁN</a>
                </li>
                <li>
                    <a href="">CHÍNH SÁCH BẢO HÀNH</a>
                </li>
                <li>
                    <a href="">CHÍNH SÁCH VẬN CHUYỂN</a>
                </li>
                <li>
                    <a href="">CHÍNH SÁCH BẢO MẬT</a>
                </li>
            </ul>
        </div>
    </div>
</div>