<div class="container">
    <div class="sanpham">
        <div class="row">
            <div class="col-md-4">
                <p>Sản Phẩm</p>
            </div>
            <div class="col-md-8">
                <div>
                    <ul>
                        <a href="" [routerLink] ="['/xemay']"><li>XE SỐ</li></a> 
                        <a href=""[routerLink] ="['/xetayga']"><li>XE TAY GA</li></a> 
                        <a href=""[routerLink] ="['/xetaycon']"><li>XE CÔN TAY</li></a> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-product></app-product>

